
.visuallyhidden {
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    height: 1px; width: 1px;
    margin: -1px; padding: 0; border: 0;
  }

  body {
    background-color: #e8e8e8;
    margin: 0;
    font-family: "Neuton", serif;
  }

  #news-container {
    display: grid;
    width: 100vw;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4);
  }

  #news-container h1 {
    font-size: 4rem;
    font-weight: 800;
    margin: 16px 0;
    text-transform: uppercase;
  }

  h2 {
    margin: 8px;
    font-size: 2rem;
    text-transform: uppercase;
  }

  h3 {
    margin: 8px;
    font-size: 1.5rem;
    text-transform: uppercase;
  }

  .headers {
    text-align: center;
  }

  #article {
    text-align: justify;
    padding: 0 16px;
  }

  #content {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr;
  }

  #content img {
    justify-self: center;
    width: 60vw;
  }
